@media (max-width: 800px) {
    .home-content, .about-me-content, .skills-content {
        grid-template-columns: 1fr;
    }

    .home-text-content h2{
        font-size: 4.5rem;
    }

    .home-img {
        width: 100%;
        max-width: 100%;
    }

    .home-img img {
        width: 360px;
        height: 500px;
    }

    .about-me-content-text h2{
        font-size: 4.5rem;
    }

    .about-me-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        gap: var(--gap);
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .about-me-img img{
        width: 360px;
    }

    .skills-content h2 {
        font-size: 4.5rem;
    }

    .grid-skills {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .grid-skills img {
        width: 100%;
    }

    .grid-project {
        display: block;
    }

    .project-description {
        margin: 0;
        padding-bottom: 1.5rem;
    }

    .project-img img{
        max-width: 100%;
        width: 500px;
        height: 360px;
    }

    .project-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        gap: var(--gap);
    }

    .price-text-content h2 {
        font-size: 4.5rem;
    }
    
    .home-text-content.contact-me h2 {
        font-size: 3.5rem;
    }

    .form-group.full-width textarea {
        margin-bottom: 0;
    }

    .form-group.form-group.full-width button {
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 0;
    }

    .footer {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        height: 100%;
    }

    .footer p {
        margin-bottom: 0;
        padding: 3rem;
    }

    .menu {
        bottom: 0;
    }
    .menu-content {
        flex-direction: column;
    }
    .menu-content,.menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }
    
    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    /* × */

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    textarea {
        resize: none;
        height: 80px;
        overflow: auto;
        box-sizing: border-box;
    }
}
@media (min-width: 801px) and (max-width:1100px) {
    textarea {
        resize: none;
        height: 80px;
        overflow: auto;
        box-sizing: border-box;
    }
}

@media (min-width: 320px) and (max-width:799px) {
    textarea {
        resize: none;
        height: 30px;
        overflow: auto;
        box-sizing: border-box;
    }
    .form-group input {
        height: 30px;
    }

    .form-group label {
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}